<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="" defaultHref="/question-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Fragen-Id:</ion-label>
      <ion-label>{{question.id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Title: </ion-label>
      <ion-input type="text" [(ngModel)]="question.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Antwort 1: </ion-label>
      <ion-input type="text" [(ngModel)]="question.a1"></ion-input>
      <ion-button icon-only (click)="setCorrect(1)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Antwort 2: </ion-label>
      <ion-input type="text" [(ngModel)]="question.a2"></ion-input>
      <ion-button icon-only (click)="setCorrect(2)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Antwort 3: </ion-label>
      <ion-input type="text" [(ngModel)]="question.a3"></ion-input>
      <ion-button icon-only (click)="setCorrect(3)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Antwort 4 : </ion-label>
      <ion-input type="text" [(ngModel)]="question.a4"></ion-input>
      <ion-button icon-only (click)="setCorrect(4)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Correct : </ion-label>
      <ion-label >{{question.correct}}</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
